{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
	<title> Plot and Generate </title>
    <link href="{% static '/plot_generate/my_style.css' %}" rel="stylesheet" />
</head>
<body>

    <header class="title"> 
        <h1>Plot and Generate</h1> 
    </header>

    <div class="block">
        <h3> Plot here </h3>
        <div>
            <canvas>
        </div>
    </div>

    <div class="block">
        <h3> Generate here </h3>
        <div>
            <canvas>
        </div>
    </div>

</body>
</html>
